:root {
  --color-main: #1863d6;
  --color-dark: #151983;
  --color-black: #001f3d;
  --color-highlight: #60ccf7;
  --color-light: #edf2f3;

  --font-primary: "Ubuntu", sans-serif;
  --font-secoundary: "Kalam", cursive;
}
