@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Ubuntu:ital,wght@0,400;1,500&display=swap");

@import "./reset";
@import "./variables";

html {
  font-size: 16px;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-light);
}
