.Card {
  margin: 0 auto;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--color-main);
  border-radius: 3%;
}
